<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Did your urine color change?</h1>
<div class="fs-3 fst-italic">Is urination's color cola or red?</div>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 8%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 10%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
