<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Is there any medicine you're taking now?</h1>
<div class="fst-italic fs-3">ex. Anti-coagulant</div>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 106%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 12%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}