<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Have you been diagnosed with a disease or treated before?</h1>
<div class="fs-3 fst-italic">Have you ever had surgery? (Have you ever inserted anything on urethra?)</div>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 102%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 12%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}