<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Do you leak urine when you cough, jump rope, run, or laugh with a loud iron?</h1>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 102%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 5%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}