<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Are you out of breath?</h1>
<div class="fst-italic">Do you get out of breath when you lie down and sleep?</div>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 103%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 6%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
