<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Do you notice a decrease in facial expression changes or a feeling of stiffness in your body?</h1>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 110%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 11%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
