<!--A-->

{% extends 'archinator/answer.html' %}


{% block disease %}
<span class="expected_disease">We cannot estimate your specific disease from our data.</span>
{% endblock %}




{% block department %}
 <span class="department"> However, based on overall judgment, visiting "Anesthesiologist" is recommended. </span>

{% endblock %}




{% block speciality %}

 <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'hospot:department' 9 1%}">
      Anesthesiology Clinics
 </a>

{% endblock %}



