<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Has it been a long time since the pain lasted?</h1>
<div class="fs-3 fst-italic">If you think the pain is chronic, press yes. If not, press no.</div>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 100%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 2%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
