<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. On the contrary, was there a time when you were excited without any special reason? </h1>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 14%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 6%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
