<!--Q-->
{% extends 'archinator/question.html' %}

{% block question %}
<h1> Q. Have you had any special stress within the last 6 months? </h1>
{% endblock %}

{% block yes %}
<a href="{% url 'archinator:question' part.id symptom.id 16%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">Yes</a>
{% endblock %}

{% block no %}
<a href="{% url 'archinator:question' part.id symptom.id 20%}" type="button" class="btn btn-lg btn-outline-dark w-100 mx-0 mb-2">No</a>
{% endblock %}
